<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">

        BODY {
            background-image: url('https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80');
            background-size: 1600px;
        }
        .forms{ opacity: 0.6}
        .titles{color: aliceblue}
        .surname{color: aliceblue}
        .name{color: aliceblue}
    </style>

</head>
<body>
<h1 class="titles">Поиск пользователя</h1>
<form action="#" th:action="@{/user/search}" th:object="${searchUser}" method="POST" style="background-color: gray" class="forms">

    <table>
        <tr>
            <td class="surname">Surname:</td>
            <!-- <p>Id: <input type="text" th:field="*{id}"/></p> -->

            <td><input type="text"
                       th:field="*{surname}"
                       placeholder="Ivanov"
                       maxlength="50"
                       required pattern="^[А-Я][а-я-]+" autofocus/>
            </td>
        </tr>

        <tr>
            <td class="name">Name:</td>
            <td><input type="text"
                       th:field="*{name}"
                       placeholder="Ivan"
                       maxlength="50"
                       required pattern="^[А-Я][а-я-]+" autofocus/>
            </td>
        </tr>

        <tr>

        <td class="submit"><input type="submit" value="Search"/></td>

    </table>
    <br>
    <a th:size="25" href="/user" style="color: white">Добавление нового пользователя</a>

</form>
</body>
</html>
